
@media (min-width: 768px) {
    .image-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .image-container img.rounded{
        flex: 1;
        max-width: 45%;
        border-radius: 10px;
    }

    .image-container p {
        flex: 1;
        padding: 10px;
    }
}

/* Styles for mobile screens */
@media (max-width: 767px) {
    .image-container {
        display: block;
        text-align: center;
    }

    .image-container img.rounded {
        max-width: 100%;
        border-radius: 10px;
    }

    .image-container p {
        padding: 10px;
    }
}
